<ion-header>
  <ion-toolbar>
    <ion-title>Controlling</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            Contribution to {{project.title}}
          </ion-card-header>
          <ion-card-content>
            <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas><br/>
            <p>The current effort  in hours is: {{effortInHours}}, in days: ~{{project.actualEffortInDays}} (exact: {{effortInHours/8}})</p>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="showListViewTimes()">
          All times
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="percentageList()">
          View percentage list
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="editRightsModal()">
          Edit rights
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>