img{
    width: 12%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boxdiv{
    align-items: center;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.ion-input{ 
    text-align: center;
}


.buttondiv{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body{
    background-color: rgb(245, 245, 245);
}
app-login {

}

