<ion-header>
  <ion-toolbar color="warning">
      <div class="loginhead">
        <img src="./assets/dokalogo_transparent.png">

      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div class="boxdiv">
    <ion-grid>
    <div class="backgrounddiv">
          <ion-row>
          <ion-col>
            <ion-item>
              <form>
                <ion-item>
                <ion-input icon="happy-outline" required="true" placeholder="Username" type="text" [(ngModel)]="username" name="usernameInput"></ion-input>
                </ion-item>
                
              </form>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-col>
              <ion-item>
                <form>
                  <ion-item>
                  <ion-input  placeholder="Password" required="true" type="password"></ion-input>               
                </ion-item>

                </form>
              </ion-item>
            </ion-col>
          </ion-col>
        </ion-row>


          <ion-row>
            <ion-col>
              <div class="buttondiv">
                <ion-button fill="solid" expand="block"(click)="onLoginClicked()">Submit</ion-button>
              </div>
            </ion-col>
          </ion-row>

    </div>


  </ion-grid>

</div>

  </body>


</ion-content>