.toolbarhead{
    color: white;
    font-size: x-large;
}
.firstrow{
    background-color: rgb(243, 243, 243);
    

.chip{
    size: 150%;
}

.titlefont{
    font-size:x-large;
    overflow-y: visible;
}

.labels{
    font-size: large;  
}
}